{{ define "content" }}

<div class="row pt-3">
    <div class="col-12 homepage-intro">
        <h1 class="mb-0">FAQ</h1>
        <h4>General Fraternity</h4>
        <p class="mb-0">&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquam diam congue sem maximus, eu auctor nisl ultrices. Etiam ornare eu nunc in pretium. Suspendisse in vehicula risus, non hendrerit mauris. In nulla arcu, congue sed vehicula id, maximus quis leo. Aenean ornare eget neque id mollis. Integer venenatis finibus lorem a maximus. Donec urna eros, condimentum a egestas vitae, porta eu ex. Suspendisse sodales a lacus sed facilisis. Duis finibus justo vel mollis rutrum. Curabitur ligula mi, vehicula eu sem vitae, facilisis tristique orci. Nam nec metus odio. Integer fringilla odio ac orci blandit, ut pellentesque eros auctor. Duis elementum nisi sit amet urna elementum, eget tincidunt dui iaculis.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Cras eget neque semper, vestibulum turpis vel, pellentesque diam. Vestibulum cursus laoreet eros, vel mattis eros laoreet eget. Curabitur viverra, ligula sed fermentum placerat, nisi arcu mollis dolor, at tempus turpis ligula sit amet urna. Donec eget risus porta, convallis purus non, placerat ligula. Morbi nec odio sed massa rhoncus pharetra quis sed justo. Sed venenatis dui vel dictum porttitor.</p>
        <h4>Delta Gamma Chapter</h4>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquam diam congue sem maximus, eu auctor nisl ultrices. Etiam ornare eu nunc in pretium. Suspendisse in vehicula risus, non hendrerit mauris. In nulla arcu, congue sed vehicula id, maximus quis leo. Aenean ornare eget neque id mollis. Integer venenatis finibus lorem a maximus. Donec urna eros, condimentum a egestas vitae, porta eu ex. Suspendisse sodales a lacus sed facilisis. Duis finibus justo vel mollis rutrum. Curabitur ligula mi, vehicula eu sem vitae, facilisis tristique orci. Nam nec metus odio. Integer fringilla odio ac orci blandit, ut pellentesque eros auctor. Duis elementum nisi sit amet urna elementum, eget tincidunt dui iaculis.</p>
    </div>
</div>
<div class="row mt-1 pb-4">
    <div class="col-12 text-center">
        <h3 class="text-white">Quick Links</h3>
        <div class="btn-group" role="group">
            <button class="btn btn-outline-secondary" type="button" onclick="window.location = 'https://www.beta.org/'">National Beta Website</button>
            <button class="btn btn-outline-secondary" type="button" onclick="window.location.href = 'join.html'">How to Join Us</button>
            <button class="btn btn-outline-secondary" type="button" onclick="window.location.href = 'faq.html'">FAQ</button>
        </div>
    </div>
</div>

{{ end }}