{{ define "index" }}

<!DOCTYPE html>
<html lang="en" class="w-100 h-100">
  <head>
    <title>Beta Theta Pi - Delta Gamma Chapter</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/static/css/main.css">
  </head>
  <body class="w-100 h-100">
    <div class="container-full w-100 h-100 d-flex align-items-center justify-content-center beta-landing">
      <div class="row no-gutters d-flex align-items-center justify-content-center">
        <div class="col-12 d-flex justify-content-center align-items-center">
          <h1 class="font-weight-bold display-2 mb-0"><span>&Beta;</span><span>&Theta;</span><span>&Pi;</span></h1>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
          <h6 class="text-uppercase font-weight-bold mb-0"><span>Men of Principle</span></h6>
        </div>
      </div>
    </div>

    <div class="beta-homepage-jumbotron container-fluid w-100 h-100">
        <div class="container">
          <nav class="landing-nav navbar navbar-expand-lg navbar-light">
              <a class="navbar-brand" href="/">
                  <img src="/static/img/btp_color_identity.png" alt="Beta Theta Pi" class="img-fluid">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#betaNav" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="betaNav">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item active">
                          <a class="nav-link" href="#">Home</a>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="about.html" id="informationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Information</a>
                          <div class="dropdown-menu" aria-labelledby="informationDropdown">
                              <a class="dropdown-item" href="about.html">About the Fraternity</a>
                              <a class="dropdown-item" href="#">How to Join</a>
                              <a class="dropdown-item" href="#">FAQ</a>
                          </div>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Articles</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">Calendar</a>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="membersDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Members</a>
                          <div class="dropdown-menu" aria-labelledby="membersDropdown">
                              <a class="dropdown-item" href="#">Current Members</a>
                              <a class="dropdown-item" href="#">Notable Alumni</a>
                          </div>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="involvedDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Get Involved</a>
                          <div class="dropdown-menu" aria-labelledby="involvedDropdown">
                              <a class="dropdown-item" href="#">Anonymous Feedback</a>
                              <a class="dropdown-item" href="#">Contact Us</a>
                          </div>
                      </li>
                  </ul>
              </div>
          </nav>
        </div>
        <div class="container h-75 d-flex align-items-center justify-content-center">
            <h1 class="text-light text-uppercase text-center mb-0">Developing Men of Principle for a Principled Life</h1>
        </div>
    </div>

    <div class="container-fluid beta-content bg-dark border border-white border-bottom-0 border-left-0 border-right-0">
        <div class="container">
            <div class="row pt-3">
                <div class="col-12 homepage-intro">
                    <h1 class="mb-0">Welcome to Beta Theta Pi</h1>
                    <h4>Delta Gamma Chapter</h4>
                    <p class="mb-0">&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquam diam congue sem maximus, eu auctor nisl ultrices. Etiam ornare eu nunc in pretium. Suspendisse in vehicula risus, non hendrerit mauris. In nulla arcu, congue sed vehicula id, maximus quis leo. Aenean ornare eget neque id mollis. Integer venenatis finibus lorem a maximus. Donec urna eros, condimentum a egestas vitae, porta eu ex. Suspendisse sodales a lacus sed facilisis. Duis finibus justo vel mollis rutrum. Curabitur ligula mi, vehicula eu sem vitae, facilisis tristique orci. Nam nec metus odio. Integer fringilla odio ac orci blandit, ut pellentesque eros auctor. Duis elementum nisi sit amet urna elementum, eget tincidunt dui iaculis.</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;Cras eget neque semper, vestibulum turpis vel, pellentesque diam. Vestibulum cursus laoreet eros, vel mattis eros laoreet eget. Curabitur viverra, ligula sed fermentum placerat, nisi arcu mollis dolor, at tempus turpis ligula sit amet urna. Donec eget risus porta, convallis purus non, placerat ligula. Morbi nec odio sed massa rhoncus pharetra quis sed justo. Sed venenatis dui vel dictum porttitor.</p>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12 col-md-4 mt-3">
                    <img src="/static/img/square.jpg" alt="Example" class="border border-white img-fluid">
                </div>
                <div class="col-12 col-md-4 mt-3">
                    <img src="/static/img/square.jpg" alt="Example" class="border border-white img-fluid">
                </div>
                <div class="col-12 col-md-4 mt-3">
                    <img src="/static/img/square.jpg" alt="Example" class="border border-white img-fluid">
                </div>
            </div>

            <div class="row mt-4 pb-4">
                <div class="col-12 homepage-call-to-action text-center">
                    <h1 class="text-light text-uppercase">What are you waiting for?</h1>
                </div>
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <a href="#">
                        <button type="button" class="btn btn-secondary">Inquire on Joining Our Brotherhood</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid beta-footer pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 text-left">
                    <p class="mb-0 text-light">Copyright &COPY; betawsu.com 2018. All Rights Reserved.</p>
                </div>
                <div class="col-12 col-md-6 text-right">
                    <p class="mb-0 text-light">Developed and Designed by <a class="text-white" href="https://github.com/george-e-shaw-iv" target="_blank"><u>George Shaw</u></a>.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- START JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/static/js/landing.js"></script>
    <!-- END JS -->
  </body>
</html>

{{ end }}
